.alert {
    position: absolute;
    top: 50px;
    left: 30%;
    width: 40%;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-out;
}

.success {
    background: rgba(138,255,80,0.23);
}

.danger {
 background: rgba(255,101,80,0.23);
}
